<div class="d-flex align-items-stretch">
    <app-filter-side-bar [listCategories]="listCategoriesFilter" (rangePrice)="resultePriceSelect($event)" (clickRateAvis)="recupRateAvis($event)" (onSelectedCategory)="categorieFilter($event)"></app-filter-side-bar>

    <div class="custom-main container p-3">
        <input class="form-control"
            type="text"
            placeholder="Recherche ta belle plante"
            aria-label="Input Recherche ta belle plante"
            #word
            (keyup)="onSearchChange(word.value)"
        >

        <div class="py-3">
          Trier par :
          <button class="btn btn-outline-success btn-sm me-2" (click)="onClickPrix()">
            <app-icon [iconName]="prixAsc ? 'bi bi-sort-down-alt' : 'bi bi-sort-up-alt'" [iconSize]="1">
            </app-icon>Prix
          </button>
          <button class="btn btn-outline-success btn-sm me-2" (click)="onClickAlpha()">
            <app-icon [iconName]="alphaAsc ? 'bi bi-sort-down-alt' : 'bi bi-sort-up-alt'" [iconSize]="1">
            </app-icon>Ordre Alpha
          </button>
          <button class="btn btn-outline-success btn-sm me-2" (click)="onClickAvis()">
            <app-icon [iconName]="avisAsc ? 'bi bi-sort-down-alt' : 'bi bi-sort-up-alt'" [iconSize]="1">
            </app-icon>Avis
          </button>
        </div>

        <div class="row">
            <div class="col" *ngFor="let product of listData">
                <app-card-plante [plant]="product"
                            (clickLike)="onEventLike()">
                </app-card-plante>
            </div>
        </div>
    </div>
</div>

