.img-plant {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.price {
  text-align: center;
}

.quy {
  text-align: center;
}
.bouton {
  text-align: center;
}
.card-title {
  text-shadow: black 0px 3px 4px;
}
